<head>
  <!-- fontawsomeのコード -->
  <script src="https://kit.fontawesome.com/f0d31dc058.js" crossorigin="anonymous"></script>
  <link href="/users.scss" rel="stylesheets">
</head>
<!-- ユーザー一覧の詳細ページ -->
<section class="bg-light page-section" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase"><%= @user.name %>の詳細ページ</h2>
        </div>
            <!-- ユーザーの名前、email、編集ボタン -->
            <div class="col-lg-12 text-center">
              <div class="team-member">
                <img class="mx-auto rounded-circle" src="<%= "/user_images/#{@user.image_name}" %>" alt="">
                <% if @user.id == @current_user.id %>
                <p class="text-muted"><%= @user.email %></p>
                <% end %>
              </div>
              <% if @user.id == @current_user.id %>
                <%= link_to("/users/#{@user.id}/edit") do %>
                <p class="btn btn-primary text-uppercase js-scroll-trigger">編集</p>
                <% end %>
              <% end %>
            </div>
            <!-- ユーザーのコメント & いいね！一覧 -->
            <div class="col-sm-12">
              <div class="tabs">
                  <input id="all" type="radio" name="tab_item" checked>
                  <label class="tab_item" for="all"><span class="far fa-comment-dots fa-lg"></span></label>
                  <input id="programming" type="radio" name="tab_item">
                  <label class="tab_item" for="programming"><i class="fas fa-heart fa-lg"></i></label>
                  <input id="design" type="radio" name="tab_item">
                  <div class="tab_content" id="all_content">
                    <% @user.reviews.each do |review| %>
                    <% post = Post.find_by(id: review.post_id) %>
                      <div class="show-index-item">
                        <div class="show-left">
                          <img src="<%= "/user_images/#{@user.image_name}" %>">
                      </div>
                        <div class="post-right">
                          <div class="show-user-name">
                            <p><%= @user.name %>/<%= link_to(post.product_name, "/posts/#{review.post_id}") %></p>
                          </div>
                            <p><%= link_to(review.content, "/posts/#{review.post_id}") %></p>
                        </div>
                      </div>
                    <% end %>
                  </div>
                  <div class="tab_content" id="programming_content">
                      <div class="row">
                        <% @likes.each do |like| %>
                        <% post = Post.find_by(id: like.post_id) %>
                          <div class="col-sm-4" style="width:110%;">
                            <div class="card">
                              <img class="card-img-top" src="<%= "/posts_images/#{post.image_name}" %>" alt="商品画像">
                              <div class="card-body" style="text-align: center;">
                                <h5 class="card-title" style="color: #7E8080;"><%= link_to(post.product_name, "/posts/#{post.id}") %></h5>
                              </div>
                            </div>
                          </div>
                        <% end %>
                      </div>
                  </div>
              </div>
        </div>
      </div>
</section>
