<head>
  <!-- fontawsomeのコード -->
  <script src="https://kit.fontawesome.com/f0d31dc058.js" crossorigin="anonymous"></script>
  <!-- jQueryのコード -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <!-- ratyのコード -->
  <%= javascript_pack_tag 'jquery' %>
</head>
<!-- 口コミ編集ページ -->
<section class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase"><%= @post.product_name %>の口コミを編集する</h2>
      </div>
    </div>
  </div>
  <%= form_tag("/reviews/#{@post.id}/#{@review.id}/update") do %>
  <div class="form">
      <div class="form-body">
        <% @review.errors.full_messages.each do |message| %>
          <div class="alert alert-primary" role="alert">
            <%= message %>
          </div>
        <% end %>
        <!-- 評価のHTML -->
        <h5 class="section-subheading">評価
        <div id="star-rating"></div>
        <input id="score" name="rating" type="hidden"></h5>


        <p class="section-subheading text-muted">
        <textarea name="content"><%= @review.content %></textarea>
        </p>
        <input type="submit" value="投稿">
      </div>
  </div>
  <% end %>
</section>
<!-- 評価のjavascript -->
<script>
  $('#star-rating').raty({
    path: '/assets/',
    target:     '#score',
    targetKeep: true,
    targetType: 'number',
  });
</script>
